# ==========================================
# Домашнее задание №3 (ИИ инжиниринг)
# ==========================================

# Игнорируем все файлы формата Parquet
*.parquet

# Минимальный набор для Python-проекта
__pycache__/
.venv/
.env
.ipynb_checkpoints/